*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}
.headerbar{
    display: none;
}
.searchicon{
    display: block;
}
.logo img{
    width: 150px;
}
.bar{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;
    background-color: antiquewhite;
    border-bottom: 1px solid antiquewhite;
    box-shadow: 0 2px 20px rgb(227, 80, 90);
}
.header ul{
display: flex;
align-items: center;
justify-content: space-around;

}
.header ul li:hover{
    color: rgb(245, 77, 77);
}
.nav ul li{
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
}
.account {
    flex: 0.1;
}
.account ul{
    display: flex;
    justify-content: end;
}
.account ul li{
    padding: 0 15px;
    font-size: 15px;
}
.bar i:hover{
    color: rgb(245, 77, 77);

}
.search{
    display: none;
    width: 200px;
    justify-content: center;
}
.search input{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}
.srcicon{
    background-color: rgb(247, 227, 202);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
    
}
h1 {
    font-size: 40px;
    color:black;
    text-align: center;
    padding: 70px;
}
h1 span{
    
    color: brown;
font-size: 40px;

}

.description{
    width: 900px;

    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding:20px;
    border-radius: 20px;

}
.description .col-1{
   
    width: 95%;

}
.description .col-1 h1{
    font-size: 40px;
    color:black;
    text-align: center;
    padding: 70px;

}
.description .col-1 h1 span{
color: brown;
font-size: 40px;

}
.description .col-1 p{
    color: black;
    font-size: 25px;
    padding: 70px;

}

.description .col-2{
  
    width: 5%;
    
}
.description .col-2 img{
 
border-radius: 9px;
margin-left: 130px;
    width: 550px;
    height: 400px;
}
.copy-right{
    padding: 25px 0;
        background: antiquewhite;
        width: 100%;
        text-align: center;
        font-weight: 300;
        margin-top: 20px; 
   
}






@media  only  screen and  (max-width: 768px){
    .header .nav, .header .account{
        display: none;
    }
    .search{
        width: 30vw;

    }
    .bar{
        display: block;
        cursor: pointer;
    }
  .headerbar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
         bottom: 0;
        right: -100%;
        background-color: rgb(247, 227, 202);
    }
    .headerbar .account  , .headerbar .nav{
        display: block;
        font-size: 15px;
    }
.bar .fa-xmark{
        display: none;
        top:20px;
        right: 5w;
        position: absolute;
        font-size: 25px;
    }
   .headerbar .nav ul{
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
    }
    .headerbar .nav li{
        width: 90vw;
        margin: 10px 0;
        padding: 15px 30px;
        box-shadow: 0 2px 15px rgb(215, 113, 113);
        margin-top: 5px;
        font-size: 15px;
    }
    .headerbar .account{
        line-height: 40px;
        margin-top: 60px;
        background-color: rgb(182, 61, 61);
        padding: 15px;

    }
    
}







